@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,300..500&family=Open+Sans:wght@400..700&display=swap");

@theme {
  --font-primary: "Open Sans", "sans-serif";
  --font-secondary: "Inter", "sans-serif";
  --color-custom-purple: #5d14a2;
  --color-custom-black: #1e1e1e;
  --color-custom-brown: #aa600a;
}
